#poster= image_tag(@movie.poster_url)

#movie
  #info
    #title
      %h1= @movie.title
    #description
      %p= @movie.description
    #trailer
      %i.icon-youtube-play
      =link_to "Watch the trailer on YouTube", @movie.trailer_url, {target: "blank"}

  #showtimes
    %h2.centered Showtimes

    %table
      %thead
        %th St.
        %th City
        %th Theater
        %th Time
        %th Add showtime
      %tbody
        - @locations.order(:state, :city, :name).each do |location|
          %tr
            %td= location.state
            %td= location.city
            %td= location.name
            %td
              - location.showtimes.each do |showtime|
                - if showtime.time < Time.now
                  %span.crossed
                    = showtime.time.to_s(:only_time)
                  |
                - else
                  %span
                    = showtime.time.to_s(:only_time)
                  |
            %td
              = simple_form_for [@movie, location, @showtime] do |f|
                .showtime
                  = f.text_field :time
                  = f.submit '+', :class => "tiny success button"

    .location
      = simple_form_for [@movie, @location] do |f|
        .state= f.input :state
        .city= f.input :city
        .name= f.input :name
        .address= f.input :address
        .submit= f.submit 'Add Location', :class => "small button"
